
@model Demo.Models.MyProfile
<!DOCTYPE html>

<html>
<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/Content/img/images/favicon.ico">

    <!--Title-->
    <title> Notes - MarketPlace</title>

    <!--Google Fonts-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!--Fontawesome-->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/css/responsiveindex.css">

</head>

<body>

	<!--Header-->
	<header>
		<nav class="navbar navbar-fixed-top">
			<div class="container header-container">
				<div class="site-nav-wrapper">

					<div class="navbar-header">

						<!--Mobile menu Open Button-->
						<span id="mobile-nav-open-btn">&#9776;</span>

						<!--Logo-->
                        <a href="@Url.Action("Index","Home")" class="navbar-brand-img">
                            <img src="~/Content/img/logo.png" alt="logo" />
                        </a>
					</div>

					<div class="container">
						<div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right ">
                                <li><a href="@Url.Action("SearchNotes","Home")">Search Notes</a></li>
                                <li><a href="@Url.Action("SellYourNotes","User")">Sell Your Notes</a></li>
                                <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                               @*@if (User.Identity.IsAuthenticated)
                                {
                                    <li class="dropdown">
                                        <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle"></a>
                                        <div class="dropdown-content">
                                            <a href="@Url.Action()">My Profile</a>
                                            <a href="@Url.Action()">My Downloads</a>
                                            <a href="@Url.Action()">My Sold Notes</a>
                                            <a href="@Url.Action()">My Rejected Notes</a>
                                            <a href="@Url.Action()">Change Password</a>
                                            <a href="@Url.Action()">Logout</a>
                                        </div>
                                    </li>
                                    <li><a href="@Url.Action("Logout", "User")" class="login">Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "Login")" class="login">Login</a></li>
                                }*@
                            </ul>
						</div>
					</div>


					<!--Mobile Menu-->
					<div id="mobile-nav">
						<!--Mobile Menu Close Button-->
						<span id="mobile-nav-close-btn">&times;</span>
						<div id="mobile-nav-content">
                            <ul class="nav">
                                <li><a href="@Url.Action("SearchNotes","Home")">Search Notes</a></li>
                                <li><a href="@Url.Action("SellYourNotes","User")">Sell Your Notes</a></li>
                                <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                @*@if (User.Identity.IsAuthenticated)
                                {
                                    <li class="dropdown">
                                        <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle"></a>
                                        <div class="dropdown-content">
                                            <a href="@Url.Action()">My Profile</a>
                                            <a href="@Url.Action()">My Downloads</a>
                                            <a href="@Url.Action()">My Sold Notes</a>
                                            <a href="@Url.Action()">My Rejected Notes</a>
                                            <a href="@Url.Action()">Change Password</a>
                                            <a href="@Url.Action()">Logout</a>
                                        </div>
                                    </li>
                                    <li><a href="@Url.Action("Logout", "User")" class="login">Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "Login")" class="login">Login</a></li>
                                }*@
                            </ul>
						</div>
					</div>

				</div>
			</div>
		</nav>
	</header>
	<!--Header ends-->
	<!--Home-->
	<section id="home">
		<div id="home">
			<!-- Background Video -->
			<img src="~/Content/img/User-Profile/User-Profile/banner-with-overlay.jpg" id="home-bg-video" alt="Home">


			<div id="home-content">

				<h3>User Profile</h3>


			</div>
		</div>

	</section>
	<!--Home Ends-->

	<div id="user-profile">
		<form class="container" method="post" enctype="multipart/form-data">
			<div class="row">
				<div class="col-md-12">
					<h3>Basic Profile Details</h3>
					<div class="row">
						<div class="col-md-6">
							<p>First Name <sup>&#8727;</sup></p>
                            <div class="form-group">
                                @*<input type="text" class="form-control" id="firstname" placeholder="Enter your first name" name="FirstName" required>*@
                                @Html.EditorFor(model => model.FirstName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your first name" } })
                            </div>
						</div>
						<div class="col-md-6">
							<p>Last Name <sup>&#8727;</sup></p>
                            <div class="form-group">
                                @*<input type="text" class="form-control" id="lastname" placeholder="Enter your last name" name="LastName" required>*@
                                @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your Last name" } })
                            </div>
						</div>

						<div class="col-md-6">
							<p>Email <sup>&#8727;</sup></p>
                            <div class="form-group">
                                @*<input type="text" class="form-control" id="email" placeholder="Enter your email address" name="EmailID" required>*@
                                @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your email address" } })
                            </div>
						</div>
						<div class="col-md-6">
							<p>Date of Birth</p>
                            <div class="form-group">
                                @*<input type="date" class="form-control" id="dob" placeholder="Enter your date of birth" name="DOB">*@
                                @Html.EditorFor(model => model.DOB, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your date of birth",@type = "date" } })
                            </div>
						</div>
						<div class="col-md-6">
							<p>Gender</p>
							<div class="form-group">
								<select class="form-control" id="gender" name="Gender">
									<option value="2">Male</option>
									<option value="1006">Female</option>
									<option value="1007">Others</option>
								</select>
							</div>
						</div>
						<div class="col-md-6">
							<p>Phone Number</p>
							<div class="row">
								<div class="col-md-3">
                                    <div class="form-group">
                                        @*<select class="form-control" id="countrycode" name="CountryCode">
            <option value="91">+91</option>
            <option value="11">+11</option>
            <option value="92">+92</option>
            <option value="01">+01</option>
        </select>*@
                                        @*@Html.DropDownList("CountryCode", new SelectList(ViewBag.CountryList, "ID", "CountryCode"), new { @class = "form-control" })*@
										@Html.DropDownListFor(model =>model.CountryCode, new SelectList(ViewBag.CountryList, "CountryCode", "CountryCode"), new { @class = "form-control" })
                                    </div>
								</div>
								<div class="col-md-9">
									<div class="form-group">
                                        <div class="form-group">
                                            @*<input type="text" class="form-control" id="phone" placeholder="Enter your Phone no" name="PhoneNo">*@
                                            @Html.EditorFor(model => model.PhoneNo, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your Phone no" } })
                                        </div>
									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<p>Profile Picture</p>

							<div class="form-group custom-drop-file text-center">
								<input type="file" class="form-control" id="img-upload" placeholder="Upload a picture" name="ProfilePicture">
								@*@Html.EditorFor(model=>model.ProfilePicture, new { htmlAttributes = new { @class = "form-control", placeholder = "Upload a picture",@type="file" } })*@
								<img src="~/Content/img/images/upload-file.png" alt="icon">
								<p>Upload Picture</p>

							</div>
						</div>
					</div>


					<div class="col-md-12">
						<h3>Address Details</h3>
						<div class="row">
							<div class="col-md-6">
								<p>Address Line 1 <sup>&#8727;</sup></p>
                                <div class="form-group">
                                    @*<input type="text" class="form-control" id="add1" placeholder="Enter your address" name="AddLine1" required>*@
                                    @Html.EditorFor(model => model.AddLine1, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your address" } })
                                </div>
							</div>
							<div class="col-md-6">
								<p>Address Line 2</p>
                                <div class="form-group">
                                    @*<input type="text" class="form-control" id="add2" placeholder="Enter your address" name="AddLine2">*@
                                    @Html.EditorFor(model => model.AddLine2, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your address" } })
                                </div>
							</div>
							<div class="col-md-6">
								<p>City <sup>&#8727;</sup></p>
                                <div class="form-group">
                                    @*<input type="text" class="form-control" id="city" placeholder="Enter your city" name="City" required>*@
                                    @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your city" } })
                                </div>
							</div>
							<div class="col-md-6">
								<p>State <sup>&#8727;</sup></p>
                                <div class="form-group">
                                    @*<input type="text" class="form-control" id="state" placeholder="Enter your State" name="State" required>*@
                                    @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your State" } })
                                </div>
							</div>
							<div class="col-md-6">
								<p>ZipCode <sup>&#8727;</sup></p>
                                <div class="form-group">
                                    @*<input type="text" class="form-control" id="zipcode" placeholder="Enter your zipcode" name="Zipcode" required>*@
                                    @Html.EditorFor(model => model.Zipcode, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your email address" } })
                                </div>
							</div>
							<div class="col-md-6">
								<p>Country <sup>&#8727;</sup></p>
                                <div class="form-group">
                                    @*<select class="form-control" id="country" name="Country" required>
            <option value="India">India</option>
            <option value="USA">USA</option>
            <option value="China">China</option>
            <option value="Canada">Canada</option>
        </select>*@

                                    @*@Html.DropDownList("Country", new SelectList(ViewBag.CountryList, "ID", "Name"), "Select Country", new { @class = "form-control" })*@
									@Html.DropDownListFor(model => model.Country, new SelectList(ViewBag.CountryList, "Name", "Name"), new { @class = "form-control" })
                                </div>
							</div>
						</div>
					</div>


					<div class="col-md-12">
						<h3>University and College Information</h3>
						<div class="row">
							<div class="col-md-6">
								<p>University</p>
                                <div class="form-group">
                                    @*<input type="text" class="form-control" id="university" placeholder="Enter your university" name="University">*@
                                    @Html.EditorFor(model => model.University, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your university" } })
                                </div>
							</div>
							<div class="col-md-6">
								<p>College</p>
                                <div class="form-group">
                                    @*<input type="text" class="form-control" id="add1" placeholder="Enter your college" name="College">*@
                                    @Html.EditorFor(model => model.College, new { htmlAttributes = new { @class = "form-control", placeholder = "Enter your college" } })
                                </div>
							</div>
						</div>
						<button class="btn btn-general btn-yellow" type="submit" title="Submit" role="button" formaction="Myprofile">Submit</button>
					</div>


				</div>
			</div>

		</form>
	</div>

	<footer>
		<hr>
		<div class="container">
			<div class="row">
				<div class="col-md-6 col-sm-6 col-xs-6">
					<p>Copyright &#169; Tatvasoft All rights reserved.</p>
				</div>
				<div class="col-md-6 col-sm-6 col-xs-6 text-right">
					<ul class="social-list">
						<li><a href="#"><img src="~/Content/img/home/facebook.png" alt="fb"></a></li>
						<li><a href="#"><img src="~/Content/img/home/twitter.png"></a></li>
						<li><a href="#"><img src="~/Content/img/home/linkedin.png"></a></li>
					</ul>
				</div>
			</div>
		</div>
	</footer>


	<!--JS-->
	<!--JQUERY JS-->
	<script src="~/Content/js/jquery.js"></script>

	<!--Bootstrap JS-->
	<script src="~/Content/js/bootstrap.min.js"></script>

	<!--Custom JS-->
	<script src="~/Content/js/script.js"></script>

</body>
</html>
