@model IEnumerable<Demo.Models.AdminDownload>
<html>
<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/Content/img/images/favicon.ico">

    <!--Title-->
    <title> Notes - MarketPlace</title>

    <!--Google Fonts-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />


    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!--Fontawesome-->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="~/Content/css/admin-style.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/css/responsiveindex.css">

</head>

<body>

    <!--Header-->
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="site-nav-wrapper">

                    <div class="navbar-header">

                        <!--Mobile menu Open Button-->
                        <span id="mobile-nav-open-btn">&#9776;</span>

                        <!--Logo-->
                        <a href="@Url.Action("Dashboard","Admin")" class="navbar-brand-img"><img src="~/Content/home/logo.png"></a>
                    </div>

                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right ">
                                <li><a href="@Url.Action("Dashboard","Admin")" class="active">Dashboard</a></li>
                                <li class="dropdown">

                                    <a>Notes</a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminNotesUnderReview","Admin")">Notes Under Review</a>
                                        <a href="@Url.Action("AdminPublishedNotes","Admin")">Published Notes</a>
                                        <a href="@Url.Action("AdminDownloads","Admin")">Downloaded Notes</a>
                                        <a href="@Url.Action("AdminRejectedNotes","Admin")">Rejected Notes</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("AdminMembers","Admin")">Members</a></li>
                                <li class="dropdown">
                                    <a>Reports</a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminSpamReports","Admin")">Spam Reports</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a>Settings</a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("ManageSystem","Admin")">Manage System Configuration</a>
                                        <a href="@Url.Action("ManageAdmin","Admin")">Manage Administrator</a>
                                        <a href="@Url.Action("ManageCategory","Admin")">Manage Category</a>
                                        <a href="@Url.Action("ManageType","Admin")">Manage Type</a>
                                        <a href="@Url.Action("ManageCountry","Admin")">Manage Countries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle dropbtn"></a>

                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminProfile","Admin")">Update Profile</a>
                                        <a href="@Url.Action("ChangePassword","User")">Change Password</a>
                                        <a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a></li>
                            </ul>
                        </div>
                    </div>


                    <!--Mobile Menu-->
                    <div id="mobile-nav">
                        <!--Mobile Menu Close Button-->
                        <span id="mobile-nav-close-btn">&times;</span>
                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle dropbtn"></a>

                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminProfile","Admin")">Update Profile</a>
                                        <a href="@Url.Action("ChangePassword","User")">Change Password</a>
                                        <a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Dashboard","Admin")">Dashboard</a></li>
                                <li class="dropdown">

                                    <a>Notes <i class="fa fa-caret-down"></i></a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminNotesUnderReview","Admin")">Notes Under Review</a>
                                        <a href="@Url.Action("AdminPublishedNotes","Admin")">Published Notes</a>
                                        <a href="@Url.Action("AdminDownloads","Admin")">Downloaded Notes</a>
                                        <a href="@Url.Action("AdminRejectedNotes","Admin")">Rejected Notes</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("AdminMembers","Admin")">Members</a></li>
                                <li class="dropdown">
                                    <a>Reports <i class="fa fa-caret-down"></i></a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminSpamReports","Admin")">Spam Reports</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a>Settings <i class="fa fa-caret-down"></i></a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("ManageSystem","Admin")">Manage System Configuration</a>
                                        <a href="@Url.Action("ManageAdmin","Admin")">Manage Administrator</a>
                                        <a href="@Url.Action("ManageCategory","Admin")">Manage Category</a>
                                        <a href="@Url.Action("ManageType","Admin")">Manage Type</a>
                                        <a href="@Url.Action("ManageCountry","Admin")">Manage Countries</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!--Header ends-->
    <!--Table-->
    <section id="admindownloads">
        <div class="container">
            <div class="row heading">
                <div class="col-md-12">
                    <h4>Downloaded Notes</h4>
                </div>
            </div>
            <div class="row search">

                <div class="col-md-6 col-sm-12 col-xs-12">
                    <form class="form-inline">

                        <div class="form-group">
                            <p>Note</p>
                            @*<select class="form-control" id="note">
            <option>Select note</option>
            <option>AI</option>
            <option>Computer Basic</option>
            <option>Accounts</option>
        </select>*@
                            @Html.DropDownList("Note", new SelectList(ViewBag.notelist, "Title", "Title"), "Select Notes", new { @class = "form-control downloadsnotelist" })
                        </div>
                        <div class="form-group">
                            <p>Seller</p>
                            @* <select class="form-control" id="seller">
                                <option>Select Seller</option>
        <option>Khayati</option>
        <option>Rahul</option>
        <option>Raj</option>
        <option>Niya</option>
                               </select>*@
                            @Html.DropDownList("Seller", new SelectList(ViewBag.sellerandbuyer, "FirstName", "FirstName"), "Select Seller", new { @class = "form-control downloadssellerlist" })

                        </div>

                        <div class="form-group">
                            <p>Buyer</p>
                            @*<select class="form-control" id="seller">
            <option>Select Buyer</option>
            <option>Khayati</option>
            <option>Rahul</option>
            <option>Raj</option>
            <option>Niya</option>
        </select>*@
                            @Html.DropDownList("Buyer", new SelectList(ViewBag.sellerandbuyer, "FirstName", "FirstName"), "Select Buyer", new { @class = "form-control downloadsbuyerlist" })
                        </div>
                    </form>
                </div>

                <div class="col-md-6 col-sm-12 col-xs-12">

                    <div class="form-inline searchform">
                        <p>Search</p>
                        <div class="form-group mx-sm-3 mb-2">

                            <input type="text" class="form-control" id="search" placeholder="Search">
                        </div>
                        <button type="submit" data-table-id="#tableData" data-search-input="#search" class="btn btn-primary mb-2 searchandfilter search-in-table">Search</button>
                    </div>
                </div>


            </div>

            <div class="table-responsive">
                <table class="table tablesorter" id="tableData" data-sort-on-col-and-order="9,1">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Sr No.</th>
                            <th scope="col">Note Title</th>
                            <th scope="col">Category</th>
                            <th scope="col">Buyer</th>
                            <th scope="col"></th>
                            <th scope="col">Seller</th>
                            <th scope="col"></th>
                            <th scope="col">Sell Type</th>
                            <th scope="col">Price</th>
                            <th scope="col" class="text-center">Downloaded Date/Time</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody data-tr-per-page="5">
                        @{ int i = 0;}
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="text-center"><span>@(++i)</span></td>
                                <td><a href="@Url.Action("NoteDetails","Home",new { id = item.download.NoteID})"><span>@item.note.Title</span></a></td>
                                <td>@item.download.NoteCategory</td>
                                <td>@item.buyer.FirstName  @item.buyer.LastName</td>
                                <td><a href="@Url.Action("AdminMemberDetails","Admin",new { memberid = item.buyer.ID})"><img src="~/Content/img/Dashboard/Dashboard/eye.png"></a></td>
                                <td>@item.seller.FirstName @item.seller.LastName</td>
                                <td><a href="@Url.Action("AdminMemberDetails","Admin",new { memberid = item.seller.ID})"><img src="~/Content/img/Dashboard/Dashboard/eye.png"></a></td>
                                @if (item.download.isPaid == true)
                                {
                                    <td>Paid</td>
                                }
                                else
                                {
                                    <td>Free</td>
                                }
                                <td>$@item.download.PurchasedPrice</td>
                                @{ DateTime da = DateTime.Parse(item.download.CreatedDate.ToString());
                                    string date = da.ToString("dd-MM-yyyy, HH:mm");}
                                <td class="text-center">@date</td>
                                <td class="dropdown">
                                    <img src="~/Content/img/images/dots.png" class="dropbtn" onclick="myFunction()">
                                    <div class="dropdown-content"><a href="@Url.Action("DownloadSoldNotes","User",new { noteid = item.download.NoteID})">Download Notes</a><a href="@Url.Action("NoteDetails","Home",new { id = item.download.NoteID })" id="ratingandreview">View More Details</a></div>
                                </td>
                            </tr>
                        }
                        @*<tr>
                            <td class="text-center"><span>1</span></td>
                            <td><span>Software Development</span></td>
                            <td>IT</td>
                            <td>Rahul Shah</td>
                            <td><img src="~/Content/img/Dashboard/Dashboard/eye.png"></td>
                            <td>Khayati Patel</td>
                            <td><img src="~/Content/img/Dashboard/Dashboard/eye.png"></td>
                            <td>Paid</td>
                            <td>$145</td>
                            <td class="text-center">25-11-2020, 11:08</td>
                            <td class="dropdown">
                                <img src="~/Content/img/images/dots.png" class="dropbtn" onclick="myFunction()">
                                <div class="dropdown-content"><a href="#">Download Notes</a><a href="#" id="ratingandreview">View More Details</a></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center"><span>2</span></td>
                            <td><span>Computer Basic</span></td>
                            <td>Computer</td>
                            <td>Rahul Shah</td>
                            <td><img src="~/Content/img/Dashboard/Dashboard/eye.png"></td>
                            <td>Nikunj Shah</td>
                            <td><img src="~/Content/img/Dashboard/Dashboard/eye.png"></td>
                            <td>Free</td>
                            <td>$0</td>
                            <td class="text-center">25-11-2020, 11:08</td>
                            <td class="dropdown">
                                <img src="~/Content/img/images/dots.png" class="dropbtn" onclick="myFunction()">
                                <div id="myDropdown" class="dropdown-content"><a href="#">Download Notes</a><a href="#" id="ratingandreview">View More Details</a></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center"><span>3</span></td>
                            <td><span>Human Body</span></td>
                            <td>Science</td>
                            <td>Rahul Shah</td>
                            <td><img src="~/Content/img/Dashboard/Dashboard/eye.png"></td>
                            <td>Raj Sheth</td>
                            <td><img src="~/Content/img/Dashboard/Dashboard/eye.png"></td>
                            <td>Paid</td>
                            <td>$204</td>
                            <td class="text-center">08-11-2020, 04:07</td>
                            <td class="dropdown">
                                <img src="~/Content/img/images/dots.png" class="dropbtn" onclick="myFunction()">
                                <div id="myDropdown" class="dropdown-content"><a href="#">Download Notes</a><a href="#" id="ratingandreview">View More Details</a></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center"><span>4</span></td>
                            <td><span>World war 2</span></td>
                            <td>History</td>
                            <td>Rahul Shah</td>
                            <td><img src="~/Content/img/Dashboard/Dashboard/eye.png"></td>
                            <td>Niya Patel</td>
                            <td><img src="~/Content/img/Dashboard/Dashboard/eye.png"></td>
                            <td>Paid</td>
                            <td>$58</td>
                            <td class="text-center">17-10-2020, 12:30</td>
                            <td class="dropdown">
                                <img src="~/Content/img/images/dots.png" class="dropbtn" onclick="myFunction()">
                                <div id="myDropdown" class="dropdown-content"><a href="#">Download Notes</a><a href="#" id="ratingandreview">View More Details</a></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center"><span>5</span></td>
                            <td><span>Accounting</span></td>
                            <td>Account</td>
                            <td>Rahul Shah</td>
                            <td><img src="~/Content/img/Dashboard/Dashboard/eye.png"></td>
                            <td>Rohit Gajera</td>
                            <td><img src="~/Content/img/Dashboard/Dashboard/eye.png"></td>
                            <td>Free</td>
                            <td>$0</td>
                            <td class="text-center">12-12-2019, 17:45</td>
                            <td class="dropdown">
                                <img src="~/Content/img/images/dots.png" class="dropbtn" onclick="myFunction()">
                                <div id="myDropdown" class="dropdown-content"><a href="#">Download Notes</a><a href="#" id="ratingandreview">View More Details</a></div>
                            </td>
                        </tr>*@






                    </tbody>
                </table>
            </div>

            <span class="pagination-control" pagination-data="#tableData tbody" max-page-shown="20">

                <nav aria-label="Page navigation example" class="text-center">
                    <ul class="pagination" style="display: flex; justify-content: center">
                        <li class="page-item" start-page="1">
                            <a class="page-link previous" aria-label="Previous">
                                <img src="~/Content/img/images/left-arrow.png" class="img-fluid">
                            </a>
                        </li>
                        <li class="page-item" end-page="1">
                            <a class="page-link next" aria-label="Next">
                                <img src="~/Content/img/images/right-arrow.png" class="img-fluid">
                            </a>
                        </li>
                    </ul>
                </nav>

            </span>







        </div>
    </section>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <p>Version:1.1.24</p>
                </div>
                <div class="col-md-6 text-right">
                    <p>Copyright &#169; Tatvasoft All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>


    <!--JS-->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/tablesorter/jquery.tablesorter.min.js"></script>
    <script src="~/Content/js/admin-script.js"></script>
</body>
</html>
