@model Demo.Models.MemberDetails
<html>
<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/Content/img/images/favicon.ico">

    <!--Title-->
    <title> Notes - MarketPlace</title>

    <!--Google Fonts-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />


    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!--Fontawesome-->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="~/Content/css/admin-style.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/css/responsiveindex.css">

</head>

<body>

    <!--Header-->
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="site-nav-wrapper">

                    <div class="navbar-header">

                        <!--Mobile menu Open Button-->
                        <span id="mobile-nav-open-btn">&#9776;</span>

                        <!--Logo-->
                        <a href="@Url.Action("Dashboard","Admin")" class="navbar-brand-img"><img src="~/Content/home/logo.png"></a>
                    </div>

                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right ">
                                <li><a href="@Url.Action("Dashboard","Admin")" class="active">Dashboard</a></li>
                                <li class="dropdown">

                                    <a>Notes</a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminNotesUnderReview","Admin")">Notes Under Review</a>
                                        <a href="@Url.Action("AdminPublishedNotes","Admin")">Published Notes</a>
                                        <a href="@Url.Action("AdminDownloads","Admin")">Downloaded Notes</a>
                                        <a href="@Url.Action("AdminRejectedNotes","Admin")">Rejected Notes</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("AdminMembers","Admin")">Members</a></li>
                                <li class="dropdown">
                                    <a>Reports</a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminSpamReports","Admin")">Spam Reports</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a>Settings</a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("ManageSystem","Admin")">Manage System Configuration</a>
                                        <a href="@Url.Action("ManageAdmin","Admin")">Manage Administrator</a>
                                        <a href="@Url.Action("ManageCategory","Admin")">Manage Category</a>
                                        <a href="@Url.Action("ManageType","Admin")">Manage Type</a>
                                        <a href="@Url.Action("ManageCountry","Admin")">Manage Countries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle dropbtn"></a>

                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminProfile","Admin")">Update Profile</a>
                                        <a href="@Url.Action("ChangePassword","User")">Change Password</a>
                                        <a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a></li>
                            </ul>
                        </div>
                    </div>


                    <!--Mobile Menu-->
                    <div id="mobile-nav">
                        <!--Mobile Menu Close Button-->
                        <span id="mobile-nav-close-btn">&times;</span>
                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle dropbtn"></a>

                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminProfile","Admin")">Update Profile</a>
                                        <a href="@Url.Action("ChangePassword","User")">Change Password</a>
                                        <a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Dashboard","Admin")">Dashboard</a></li>
                                <li class="dropdown">

                                    <a>Notes <i class="fa fa-caret-down"></i></a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminNotesUnderReview","Admin")">Notes Under Review</a>
                                        <a href="@Url.Action("AdminPublishedNotes","Admin")">Published Notes</a>
                                        <a href="@Url.Action("AdminDownloads","Admin")">Downloaded Notes</a>
                                        <a href="@Url.Action("AdminRejectedNotes","Admin")">Rejected Notes</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("AdminMembers","Admin")">Members</a></li>
                                <li class="dropdown">
                                    <a>Reports <i class="fa fa-caret-down"></i></a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminSpamReports","Admin")">Spam Reports</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a>Settings <i class="fa fa-caret-down"></i></a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("ManageSystem","Admin")">Manage System Configuration</a>
                                        <a href="@Url.Action("ManageAdmin","Admin")">Manage Administrator</a>
                                        <a href="@Url.Action("ManageCategory","Admin")">Manage Category</a>
                                        <a href="@Url.Action("ManageType","Admin")">Manage Type</a>
                                        <a href="@Url.Action("ManageCountry","Admin")">Manage Countries</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!--Header ends-->
    <!--Table-->
    <section id="memberdetails">


        <div class="container">
            <h4 class="memberheading">Member Details</h4>
            <div class="row">
                <div class="col-md-10 col-sm-12 col-xs-12">
                    <div class="row">
                        <div class="col-md-2 col-sm-12 col-xs-12">
                            <img src="~/Content/img/images/member.png">
                        </div>



                        <div class="col-md-10 col-sm-12 col-xs-12 memberdetails">
                            <div class="col-md-5 col-sm-5 col-xs-5 info">First name:</div>
                            <div class="col-md-7 col-sm-7 col-xs-7 personal">@Model.user.FirstName</div>
                            <div class="col-md-5 col-sm-5 col-xs-5 info">Last name</div>
                            <div class="col-md-7 col-sm-7 col-xs-7 personal">@Model.user.LastName</div>
                            <div class="col-md-5 col-sm-5 col-xs-5 info">Email:</div>
                            <div class="col-md-7 col-sm-7 col-xs-7 personal">@Model.user.EmailID</div>
                            <div class="col-md-5 col-sm-5 col-xs-5 info">DOB:</div>

                            <div class="col-md-7 col-sm-7 col-xs-7 personal">@Model.up.DOB</div>
                            <div class="col-md-5 col-sm-5 col-xs-5 info">Phone Number</div>
                            <div class="col-md-7 col-sm-7 col-xs-7 personal">@Model.up.PhoneNo</div>
                            <div class="col-md-5 col-sm-5 col-xs-5 info">College/University:</div>
                            <div class="col-md-7 col-sm-7 col-xs-7 personal">@Model.up.University</div>
                            <div class="col-md-5 col-sm-5 col-xs-5 info">Address 1:</div>
                            <div class="col-md-7 col-sm-7 col-xs-7 personal">@Model.up.AddressLine1</div>
                            <div class="col-md-5 col-sm-5 col-xs-5 info">Address 2:</div>
                            <div class="col-md-7 col-sm-7 col-xs-7 personal">@Model.up.AddressLine2</div>
                            <div class="col-md-5 col-sm-5 col-xs-5 info">City</div>
                            <div class="col-md-7 col-sm-7 col-xs-7 personal">@Model.up.City</div>
                            <div class="col-md-5 col-sm-5 col-xs-5 info">State:</div>
                            <div class="col-md-7 col-sm-7 col-xs-7 personal">@Model.up.State</div>
                            <div class="col-md-5 col-sm-5 col-xs-5 info">Country:</div>
                            <div class="col-md-7 col-sm-7 col-xs-7 personal">@Model.up.Country</div>
                            <div class="col-md-5 col-sm-5 col-xs-5 info">Zip Code:</div>
                            <div class="col-md-7 col-sm-7 col-xs-7 personal">@Model.up.ZipCode</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>







        <div class="container">
            <hr>
            <div class="row search">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h4>Notes</h4>
                </div>

            </div>
            <div class="table-responsive">
                <table class="table" id="tableData">
                    <thead>
                        <tr>
                            <th scope="col" class="text-center">Sr No.</th>
                            <th scope="col">Note Title</th>
                            <th scope="col">Category</th>
                            <th scope="col">Status</th>
                            <th scope="col" class="text-center">Downloaded Notes</th>
                            <th scope="col" class="text-center">Total Earnings</th>
                            <th scope="col" class="date">Date Added</th>
                            <th scope="col" class="date">Published Date</th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody data-tr-per-page="5">
                        @{ int i = 0;}
                       
                        @foreach (var item in Model.Note)
                        {
                        <tr>
                            <td class="text-center"><span>@(++i)</span></td>
                            <td><span>@item.NoteTitle</span></td>
                            <td>@item.category</td>
                            <td>@item.status</td>
                            <td class="text-center"><span>@item.downloads</span></td>
                            <td class="text-center">$@item.earning</td>
                            @{ string dat;
                                if (item.AddedDate != null)
                                {
                                    DateTime da = DateTime.Parse(item.AddedDate.ToString());
                                    dat = da.ToString("dd-MM-yyyy, HH:mm");
                                }
                                else
                                {
                                    dat = "NA";
                                }
                            }
                            <td>@dat</td>
                            @{ string date;
                                    if (item.PublishedDate != null)
                                {
                                    DateTime d = DateTime.Parse(item.PublishedDate.ToString());
                                    date = d.ToString("dd-MM-yyyy, HH:mm");
                                }
                                else
                                {
                                    date = "NA";
                                }
                            }
                            <td>@date</td>
                            <td class="dropdown">
                                <img src="~/Content/img/images/dots.png" class="dropbtn" onclick="myFunction()">
                                <div id="myDropdown" class="dropdown-content"><a href="@Url.Action("DownloadSoldNotes","User",new { noteid = item.NoteID})">Download Notes</a></div>
                            </td>
                        </tr>
                        }
                        @*<tr>
                            <td class="text-center"><span>1</span></td>
                            <td><span>Software Development</span></td>
                            <td>IT</td>
                            <td>Published</td>
                            <td class="text-center"><span>22</span></td>
                            <td class="text-center">$177</td>
                            <td>09-10-2020, 10:10</td>
                            <td>09-10-2020, 10:10</td>
                            <td class="dropdown">
                                <img src="~/Content/img/images/dots.png" class="dropbtn" onclick="myFunction()">
                                <div id="myDropdown" class="dropdown-content"><a href="#">Download Notes</a></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center"><span>2</span></td>
                            <td><span>Computer Basic</span></td>
                            <td>Computer</td>
                            <td>Published</td>
                            <td class="text-center"><span>4</span></td>
                            <td class="text-center">$125</td>
                            <td>10-10-2020, 11:25</td>
                            <td>10-10-2020, 11:25</td>
                            <td class="dropdown">
                                <img src="~/Content/img/images/dots.png" class="dropbtn" onclick="myFunction()">
                                <div id="myDropdown" class="dropdown-content"><a href="#">Download Notes</a></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center"><span>3</span></td>
                            <td><span>Human Body</span></td>
                            <td>Science</td>
                            <td>InReview</td>
                            <td class="text-center"><span>17</span></td>
                            <td class="text-center">$978</td>
                            <td>11-10-2020, 01:00</td>
                            <td>11-10-2020, 01:00</td>
                            <td class="dropdown">
                                <img src="~/Content/img/images/dots.png" class="dropbtn" onclick="myFunction()">
                                <div id="myDropdown" class="dropdown-content"><a href="#">Download Notes</a></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center"><span>4</span></td>
                            <td><span>World War 2</span></td>
                            <td>History</td>
                            <td>Published</td>
                            <td class="text-center"><span>28</span></td>
                            <td class="text-center">$15254</td>
                            <td>12-10-2020, 10:10</td>
                            <td>12-10-2020, 10:10</td>
                            <td class="dropdown">
                                <img src="~/Content/img/images/dots.png" class="dropbtn" onclick="myFunction()">
                                <div id="myDropdown" class="dropdown-content"><a href="#">Download Notes</a></div>
                            </td>
                        </tr>

                        <tr>
                            <td class="text-center"><span>5</span></td>
                            <td><span>Accounting</span></td>
                            <td>Account</td>
                            <td>Published</td>
                            <td class="text-center"><span>0</span></td>
                            <td class="text-center">$69</td>
                            <td>13-10-2020, 11:25</td>
                            <td>NA</td>
                            <td class="dropdown">
                                <img src="~/Content/img/images/dots.png" class="dropbtn" onclick="myFunction()">
                                <div id="myDropdown" class="dropdown-content"><a href="#">Download Notes</a></div>
                            </td>
                        </tr>*@


                    </tbody>
                </table>
            </div>

            <span class="pagination-control" pagination-data="#tableData tbody" max-page-shown="20">

                <nav aria-label="Page navigation example" class="text-center">
                    <ul class="pagination" style="display: flex; justify-content: center">
                        <li class="page-item" start-page="1">
                            <a class="page-link previous" aria-label="Previous">
                                <img src="~/Content/img/images/left-arrow.png" class="img-fluid">
                            </a>
                        </li>
                        <li class="page-item" end-page="1">
                            <a class="page-link next" aria-label="Next">
                                <img src="~/Content/img/images/right-arrow.png" class="img-fluid">
                            </a>
                        </li>
                    </ul>
                </nav>

            </span>

        </div>
    </section>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p>Version:1.1.24</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <p>Copyright &#169; Tatvasoft All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>


    <!--JS-->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.js"></script>

    <script src="~/Content/js/admin-script.js"></script>
</body>
</html>
