@model IEnumerable<Demo.Models.AdminDashboard> 
<html>
<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/Content/img/images/favicon.ico">

    <!--Title-->s
    <title> Notes - MarketPlace</title>

    <!--Google Fonts-->

    <link href="https://fonts.googleapis.com/css2?family=Open+Sans
             :wght@300;400;600;700&display=swap" rel="stylesheet">

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!--Fontawesome-->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="~/Content/css/admin-style.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/css/responsiveindex.css">

</head>

<body>

    <!--Header-->
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="site-nav-wrapper">

                    <div class="navbar-header">

                        <!--Mobile menu Open Button-->
                        <span id="mobile-nav-open-btn">&#9776;</span>

                        <!--Logo-->
                        <a href="@Url.Action("Dashboard","Admin")" class="navbar-brand-img"><img src="~/Content/home/logo.png"></a>
                    </div>

                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right ">
                                <li><a href="@Url.Action("Dashboard","Admin")" class="active">Dashboard</a></li>
                                <li class="dropdown">

                                    <a>Notes</a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminNotesUnderReview","Admin")">Notes Under Review</a>
                                        <a href="@Url.Action("AdminPublishedNotes","Admin")">Published Notes</a>
                                        <a href="@Url.Action("AdminDownloads","Admin")">Downloaded Notes</a>
                                        <a href="@Url.Action("AdminRejectedNotes","Admin")">Rejected Notes</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("AdminMembers","Admin")">Members</a></li>
                                <li class="dropdown">
                                    <a>Reports</a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminSpamReports","Admin")">Spam Reports</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a>Settings</a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("ManageSystem","Admin")">Manage System Configuration</a>
                                        <a href="@Url.Action("ManageAdmin","Admin")">Manage Administrator</a>
                                        <a href="@Url.Action("ManageCategory","Admin")">Manage Category</a>
                                        <a href="@Url.Action("ManageType","Admin")">Manage Type</a>
                                        <a href="@Url.Action("ManageCountry","Admin")">Manage Countries</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle dropbtn"></a>

                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminProfile","Admin")">Update Profile</a>
                                        <a href="@Url.Action("ChangePassword","User")">Change Password</a>
                                        <a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a></li>
                            </ul>
                        </div>
                    </div>


                    <!--Mobile Menu-->
                    <div id="mobile-nav">
                        <!--Mobile Menu Close Button-->
                        <span id="mobile-nav-close-btn">&times;</span>
                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li class="dropdown">
                                    <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle dropbtn"></a>

                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminProfile","Admin")">Update Profile</a>
                                        <a href="@Url.Action("ChangePassword","User")">Change Password</a>
                                        <a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Dashboard","Admin")">Dashboard</a></li>
                                <li class="dropdown">

                                    <a>Notes <i class="fa fa-caret-down"></i></a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminNotesUnderReview","Admin")">Notes Under Review</a>
                                        <a href="@Url.Action("AdminPublishedNotes","Admin")">Published Notes</a>
                                        <a href="@Url.Action("AdminDownloads","Admin")">Downloaded Notes</a>
                                        <a href="@Url.Action("AdminRejectedNotes","Admin")">Rejected Notes</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("AdminMembers","Admin")">Members</a></li>
                                <li class="dropdown">
                                    <a>Reports <i class="fa fa-caret-down"></i></a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("AdminSpamReports","Admin")">Spam Reports</a>
                                    </div>
                                </li>
                                <li class="dropdown">
                                    <a>Settings <i class="fa fa-caret-down"></i></a>
                                    <div class="dropdown-content">
                                        <a href="@Url.Action("ManageSystem","Admin")">Manage System Configuration</a>
                                        <a href="@Url.Action("ManageAdmin","Admin")">Manage Administrator</a>
                                        <a href="@Url.Action("ManageCategory","Admin")">Manage Category</a>
                                        <a href="@Url.Action("ManageType","Admin")">Manage Type</a>
                                        <a href="@Url.Action("ManageCountry","Admin")">Manage Countries</a>
                                    </div>
                                </li>
                                <li><a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a></li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!--Header ends-->

    <div id="admindashboard">

        <!--Table-->
        <section id="admindashboard">
            <div id="stats">
                <div class="container">
                    <h4>Dashboard</h4>
                    <div class="table-responsive">
                        @{ int j = 0;}
                    <table class="table">
                        <tr>
                            @foreach (var item in Model)
                            {
                                if(j<=0)
                                { 
                            <td class="text-center">
                                <a href="@Url.Action("AdminNotesUnderReview","Admin")"><h5>@item.notesinreview</h5></a>
                                <p>Number of Notes in Review for publish</p>
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("AdminDownloads","Admin")"><h5>@item.Total</h5></a>
                                <p>
                                    Number of New Notes Downloaded<br>
                                    (Last 7 days)
                                </p>
                            </td>
                            <td class="text-center">
                                <a href="@Url.Action("AdminMembers","Admin")"><h5>@item.newregistration</h5></a>
                                <p>
                                    Number of New Registrations<br>
                                    (Last 7 Days)
                                </p>
                            </td>
                                }
                                ++j;
                            }
                        </tr>
                    </table>
                    
                    </div>
                </div>
            </div>

            <div class="container">
                <div class="row search">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <h4>Published Notes</h4>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="form-inline searchform">
                            <div class="form-group">

                                <input type="text" class="form-control" id="search" placeholder="Search">
                            </div>
                            <div class="form-group">
                                <button type="submit" data-table-id="#tableData" data-search-input="#search" class="btn btn-primary mb-2 searchandfilter search-in-table">Search</button>
                            </div>

                            <select class="form-control" id="month">
                                <option>Select Month</option>
                                <option>January</option>
                                <option>February</option>
                                <option>March</option>
                                <option>April</option>
                                <option>May</option>
                                <option>June</option>
                                <option>July</option>
                                <option>August</option>
                                <option>September</option>
                                <option>October</option>
                                <option>November</option>
                                <option>December</option>
                            </select>

                        </div>
                    </div>
                </div>

                <div class="table-responsive">
                    <table class="table tablesorter" id="tableData" data-sort-on-col-and-order="8,1">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center">Sr No.</th>
                                <th scope="col">Note Title</th>
                                <th scope="col">Category</th>
                                <th scope="col" class="text-center">Attachement size</th>
                                <th scope="col">Sell Type</th>
                                <th scope="col">Price</th>
                                <th scope="col">Publisher</th>
                                <th scope="col" class="date">Published Date</th>
                                <th scope="col" class="text-center download">Number of Downloads</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody data-tr-per-page="5">
                            @{ int i = 0;}
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td class="text-center"><span>@(++i)</span></td>
                                    <td><a href="@Url.Action("NoteDetails","Home", new { id = item.Note.ID })"><span>@item.Note.Title</span></a></td>
                                    <td>@item.category.Name</td>
                                    <td class="text-center">@item.noteattachment.Filesize KB</td>
                                    @if (item.Note.IsPaid == true)
                                    {
                                        <td>Paid</td>
                                    }
                                    else
                                    {
                                        <td>Free</td>
                                    }
                                    <td>$@item.Note.SellingPrice</td>
                                    <td>@item.user.FirstName @item.user.LastName</td>
                                    @{DateTime da = DateTime.Parse(item.Note.CreatedDate.ToString());
                                        string date = da.ToString("dd-MM-yyyy, HH:mm");}
                                    <td>@date</td>
                                    <td class="text-center"><a href="@Url.Action("AdminDownloads","Admin",new { noteid = item.Note.ID})"><span>@item.Total</span></a></td>
                                    <td class="dropdown">
                                        <img src="~/Content/img/images/dots.png" class="dropbtn">
                                        <div class="dropdown-content">
                                            <a href="@Url.Action("DownloadSoldNotes", "User", new { noteid = item.Note.ID })">Download Notes</a>
                                            <a href="@Url.Action("NoteDetails", "Home", new { id = item.Note.ID })">View More Details</a>
                                            @{string str = "mymodal" + item.Note.ID;}
                                            <a onclick=openmodal1("@str")>Unpublish</a>
                                        </div>
                                    </td>
                                </tr>

                                <div id=@str class="modal">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <span class="close" onclick=closemodal1("@str")>&times;</span>

                                            <h4>@item.Note.Title</h4>


                                        </div>

                                        <div class="modal-body">
                                            <form method="post">

                                                @Html.AntiForgeryToken()
                                                <input type="hidden" name="noteid" value="@item.Note.ID" />
    
                                                <div class="comments">
                                                    <p>Remarks</p>
                                                    <div class="form-group">
                                                        <textarea class="form-control" id="message" name="remarks" placeholder="Comments..."></textarea>
                                                    </div>

                                                    <button type="submit" id="btnSubmit" class="btn btn-primary btn-sm" formaction="Unpublish">Submit</button>
                                                    <button type="button" class="btn btn-primary btn-sm" onclick=closemodal1("@str")>Cancel</button>
                                                </div>
                                            </form>
                                        </div>

                                    </div>
                                </div>
                            }
                            <tr>
                                <td class="text-center">1</td>
                                <td><span>Data Science</span></td>
                                <td>Science</td>
                                <td class="text-center">10 KB</td>
                                <td>Free</td>
                                <td>$0</td>
                                <td>Pritesh Panchal</td>
                                <td>09-10-2020, 10:10</td>
                                <td class="text-center">10</td>
                                <td class="dropdown">
                                    <img src="~/Content/img/images/dots.png" class="dropbtn">
                                    <div class="dropdown-content">
                                        <a href="#">Download Notes</a>
                                        <a href="#">View More Details</a>
                                        <a href="#">Unpublish</a>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">2</td>
                                <td><span>Accounts</span></td>
                                <td>Commerce</td>
                                <td class="text-center">23 MB</td>
                                <td>Paid</td>
                                <td>$22</td>
                                <td>Rahil Shah</td>
                                <td>10-10-2020, 12:30</td>
                                <td class="text-center">11</td>
                                <td class="dropdown">
                                    <img src="~/Content/img/images/dots.png" class="dropbtn">
                                    <div class="dropdown-content">
                                        <a href="#">Download Notes</a>
                                        <a href="#">View More Details</a>
                                        <a href="#">Unpublish</a>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">3</td>
                                <td><span>Social Studies</span></td>
                                <td>Social</td>
                                <td class="text-center">3 MB</td>
                                <td>Paid</td>
                                <td>$56</td>
                                <td>Anish Patel</td>
                                <td>11-10-2020, 01:00</td>
                                <td class="text-center">7</td>
                                <td class="dropdown">
                                    <img src="~/Content/img/images/dots.png" class="dropbtn">
                                    <div class="dropdown-content">
                                        <a href="#">Download Notes</a>
                                        <a href="#">View More Details</a>
                                        <a href="#">Unpublish</a>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">4</td>
                                <td><span>AI</span></td>
                                <td>IT</td>
                                <td class="text-center">1 MB</td>
                                <td>Free</td>
                                <td>$0</td>
                                <td>Vijay Vaishnav</td>
                                <td>12-10-2020, 10:10</td>
                                <td class="text-center">34</td>
                                <td class="dropdown">
                                    <img src="~/Content/img/images/dots.png" class="dropbtn">
                                    <div class="dropdown-content">
                                        <a href="#">Download Notes</a>
                                        <a href="#">View More Details</a>
                                        <a href="#">Unpublish</a>
                                    </div>
                                </td>
                            </tr>

                            <tr>
                                <td class="text-center">5</td>
                                <td><span>Lorem ipsum</span></td>
                                <td>Lorem</td>
                                <td class="text-center">105 KB</td>
                                <td>Paid</td>
                                <td>$90</td>
                                <td>Mehul Patel</td>
                                <td>13-10-2020, 11:25</td>
                                <td class="text-center">9</td>
                                <td class="dropdown">
                                    <img src="~/Content/img/images/dots.png" class="dropbtn">
                                    <div class="dropdown-content">
                                        <a href="#">Download Notes</a>
                                        <a href="#">View More Details</a>
                                        <a href="#">Unpublish</a>
                                    </div>
                                </td>
                            </tr>




                        </tbody>
                    </table>
                </div>

                <span class="pagination-control" pagination-data="#tableData tbody" max-page-shown="20">

                    <nav aria-label="Page navigation example" class="text-center">
                        <ul class="pagination" style="display: flex; justify-content: center">
                            <li class="page-item" start-page="1">
                                <a class="page-link previous" aria-label="Previous">
                                    <img src="~/Content/img/images/left-arrow.png" class="img-fluid">
                                </a>
                            </li>
                            <li class="page-item" end-page="1">
                                <a class="page-link next" aria-label="Next">
                                    <img src="~/Content/img/images/right-arrow.png" class="img-fluid">
                                </a>
                            </li>
                        </ul>
                    </nav>

                </span>

            </div>
        </section>
    </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p>Version:1.1.24</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <p>Copyright &#169; Tatvasoft All rights reserved.</p>
                </div>
            </div>
        </div>
    </footer>


    <!--JS-->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/admin-script.js"></script>
    <script src="~/Content/js/tablesorter/jquery.tablesorter.min.js"></script>
    <!--script src="~/Content/js/admin-dashboard.js"></script-->
</body>
</html>
