@model Demo.Models.ContactUs
<!DOCTYPE html>
<html>
<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/Content/img/images/favicon.ico">

    <!--Title-->
    <title> Notes - MarketPlace</title>

    <!--Google Fonts-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />

    <!--Bootstrap CSS-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />

    <!--Fontawesome-->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">

    <!--Custom CSS-->
    <link href="~/Content/css/style.css" rel="stylesheet" />

    <!--Responsive CSS-->
    <link href="~/Content/css/responsiveindex.css" rel="stylesheet" />

</head>

<body>

    <!--Header-->
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="site-nav-wrapper">

                    <div class="navbar-header">

                        <!--Mobile menu Open Button-->
                        <span id="mobile-nav-open-btn">&#9776;</span>

                        <!--Logo-->
                        <a href="@Url.Action("Index","Home")" class="navbar-brand-img">
                            <img src="~/Content/img/logo.png" alt="logo" />
                        </a>
                    </div>

                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right ">
                                <li><a href="@Url.Action("SearchNotes","Home")">Search Notes</a></li>
                                <li><a href="@Url.Action("SellYourNotes","User")">Sell Your Notes</a></li>
                                <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="dropdown">
                                        <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle"></a>
                                        <div class="dropdown-content">
                                            <a href="@Url.Action("Myprofile","User")">My Profile</a>
                                            <a href="@Url.Action("MyDownloads","User")">My Downloads</a>
                                            <a href="@Url.Action("MySoldNotes","User")">My Sold Notes</a>
                                            <a href="@Url.Action("MyRejectedNotes","User")">My Rejected Notes</a>
                                            <a href="@Url.Action("ChangePassword","User")">Change Password</a>
                                            <a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a>
                                        </div>
                                    </li>
                                    <li><a href="@Url.Action("Logout", "User")" class="login" onclick="return confirm('Are you sure, you want to logout?');">Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "Login")" class="login">Login</a></li>
                                }
                            </ul>
                        </div>
                    </div>


                    <!--Mobile Menu-->
                    <div id="mobile-nav">
                        <!--Mobile Menu Close Button-->
                        <span id="mobile-nav-close-btn">&times;</span>
                        <div id="mobile-nav-content">

                                <ul class="nav">
                                    <li><a href="@Url.Action("SearchNotes","Home")">Search Notes</a></li>
                                    <li><a href="@Url.Action("SellYourNotes","User")">Sell Your Notes</a></li>
                                    <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                    <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="dropdown">
                                            <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle"></a>
                                            <div class="dropdown-content">
                                                <a href="@Url.Action("Myprofie","User")">My Profile</a>
                                                <a href="@Url.Action("MyDownloads","User")">My Downloads</a>
                                                <a href="@Url.Action("MySoldNotes","User")">My Sold Notes</a>
                                                <a href="@Url.Action("MyRejectedNotes","User")">My Rejected Notes</a>
                                                <a href="@Url.Action("ChangePassword","User")">Change Password</a>
                                                <a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a>
                                            </div>
                                        </li>
                                        <li><a href="@Url.Action("Logout", "User")" class="login" onclick="return confirm('Are you sure, you want to logout?');">Logout</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("Index", "Login")" class="login">Login</a></li>
                                    }
                                </ul>
                            
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!--Header ends-->
    <!--Home-->
    <section id="home">
        <div id="home">
            <!-- Background Video -->
            <img src="~/Content/img/Contact-Us/Contact-Us/banner-with-overlay.jpg" id="home-bg-video" alt="Home" />


            <div id="home-content">

                <h3>Contact Us</h3>


            </div>
        </div>

    </section>
    <!--Home Ends-->

    <div id="contactus">
        <form class="container" method="post">
            @Html.AntiForgeryToken();
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <h3>Get in Touch</h3>
                    <p>Let us know how to get back to you</p>
                    <div class="row contactform">
                        <div class="col-md-6">
                            <p>Full Name <sup>&#8727;</sup></p>
                            <div class="form-group">

                                @if (User.Identity.IsAuthenticated)
                                {
                                    @Html.EditorFor(model => model.Fullname, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                                }
                                else
                                {
                                    <input type="text" class="form-control" id="name" placeholder="Enter your full name" name="Fullname" required>
                                }
                            </div>

                            <p>Email Address <sup>&#8727;</sup></p>
                            <div class="form-group">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    @Html.EditorFor(model => model.EmailID, new { htmlAttributes = new { @class = "form-control", disabled = "disabled", @readonly = "readonly" } })
                                }
                                else
                                {
                                    <input type="text" class="form-control" id="email" placeholder="Enter your email address" name="EmailID" required>
                                }

                            </div>

                            <p>Subject <sup>&#8727;</sup></p>
                            <div class="form-group">
                                <input type="text" class="form-control" id="subject" placeholder="Enter your subject" name="Subject" required>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <p>Comments/Questions <sup>&#8727;</sup></p>



                            <div class="form-group">
                                <textarea class="form-control" id="message" placeholder="Enter your description" name="Comments" required></textarea>
                            </div>
                        </div>
                    </div>
                    <button type="submit" id="btnSubmit" class="btn btn-primary btn-sm">Submit</button>
                </div>
            </div>


        </form>
    </div>
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p>Copyright &#169; Tatvasoft All rights reserved.</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <ul class="social-list">
                        <li><a href="#"><img src="~/Content/img/home/facebook.png" /></a></li>
                        <li><a href="#"><img src="~/Content/img/home/twitter.png" /></a></li>
                        <li><a href="#"><img src="~/Content/img/home/linkedin.png" /></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>


    <!--JS-->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.js"></script>

    <script src="~/Content/js/script.js"></script>


</body>
</html>
