<html>
<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/Content/img/images/favicon.ico">


    <!--Title-->
    <title> Notes - MarketPlace</title>

    <!--Google Fonts-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!--Fontawesome-->
    <link rel="stylesheet" href="~/Content/css/font-awesome.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/css/responsiveindex.css">

</head>

<body>

    <!--Header-->
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="site-nav-wrapper">

                    <div class="navbar-header">

                        <!--Mobile menu Open Button-->
                        <span id="mobile-nav-open-btn">&#9776;</span>

                        <!--Logo-->
                        <a href="@Url.Action("Index","Home")" class="navbar-brand-img">
                            <img src="~/Content/img/logo.png" alt="logo" />
                        </a>
                    </div>

                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right ">
                                <li><a href="@Url.Action("SearchNotes","Home")">Search Notes</a></li>
                                <li><a href="@Url.Action("SellYourNotes","User")">Sell Your Notes</a></li>
                                <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="dropdown">
                                        <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle"></a>
                                        <div class="dropdown-content">
                                            <a href="@Url.Action("Myprofile","User")">My Profile</a>
                                            <a href="@Url.Action("MyDownloads","User")">My Downloads</a>
                                            <a href="@Url.Action("MySoldNotes","User")">My Sold Notes</a>
                                            <a href="@Url.Action("MyRejectedNotes","User")">My Rejected Notes</a>
                                            <a href="@Url.Action("ChangePassword","User")">Change Password</a>
                                            <a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a>
                                        </div>
                                    </li>
                                    <li><a href="@Url.Action("Logout", "User")" class="login" onclick="return confirm('Are you sure, you want to logout?');">Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "Login")" class="login">Login</a></li>
                                }
                            </ul>
                        </div>
                    </div>


                    <!--Mobile Menu-->
                    <div id="mobile-nav">
                        <!--Mobile Menu Close Button-->
                        <span id="mobile-nav-close-btn">&times;</span>
                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li><a href="@Url.Action("SearchNotes","Home")">Search Notes</a></li>
                                <li><a href="@Url.Action("SellYourNotes","User")">Sell Your Notes</a></li>
                                <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="dropdown">
                                        <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle"></a>
                                        <div class="dropdown-content">
                                            <a href="@Url.Action("Myprofie","User")">My Profile</a>
                                            <a href="@Url.Action("MyDownloads","User")">My Downloads</a>
                                            <a href="@Url.Action("MySoldNotes","User")">My Sold Notes</a>
                                            <a href="@Url.Action("MyRejectedNotes","User")">My Rejected Notes</a>
                                            <a href="@Url.Action("ChangePassword","User")">Change Password</a>
                                            <a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a>
                                        </div>
                                    </li>
                                    <li><a href="@Url.Action("Logout", "User")" class="login" onclick="return confirm('Are you sure, you want to logout?');">Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "Login")" class="login">Login</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!--Header ends-->
    <!--Home-->
    <section id="home">
        <div id="home">
            <!-- Background Video -->
            <img src="~/Content/img/FAQ/FAQ/banner-with-overlay.jpg" id="home-bg-video" alt="Home">


            <div id="home-content">

                <h3>Frequently Asked Questions</h3>


            </div>
        </div>

    </section>
    <!--Home Ends-->
    <!--FAQ Section-->

    <div id="faq">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-sm-12 col-xs-12 text-left heading">
                    <h4>General Questions</h4>
                </div>
                <!--Que 1-->
                <div class=" col-md-12 col-sm-12 col-xs-12 QA">
                    <div class="question">
                        <button class="accordion">What is Notes Marketplace?<i class="fa fa-plus" style="float: right"></i></button>
                        <div class="panel">
                            <p>Notes Marketplace is an online marketplace for university students to buy and sell their course notes.</p>
                        </div>
                    </div>
                </div>

                <div class=" col-md-12 col-sm-12 col-xs-12">
                    <div class="question">
                        <button class="accordion">Where did Notes Marketplace start?<i class="fa fa-plus" style="float: right"></i></button>
                        <div class="panel">
                            <p>What started out as four friends chucking around an idea in Ahmedabad ended up turning into an earliest version of Notes Marketplace. So, with 2021 batch of tatvasoft – we has developed this product.</p>

                        </div>
                    </div>
                </div>


                <div class="col-md-12 col-sm-12 col-xs-12 text-left heading">
                    <h4>Uploaders</h4>
                </div>
                <div class=" col-md-12 col-sm-12 col-xs-12">
                    <button class="accordion">Why should I upload now?<i class="fa fa-plus" style="float: right"></i></button>
                    <div class="panel">
                        <p>To maximize sales. We can't sell your notes if they are rotting on your hard drive. Your notes are available for purchase the instant they are approved, which means that you could be missing potential sales as we speak. Despite exam and holiday breaks, our users purchase notes all year round, so the best time to upload notes is always today.</p>
                    </div>

                </div>


                <div class=" col-md-12 col-sm-12 col-xs-12">
                    <button class="accordion">What can't I sell?<i class="fa fa-plus" style="float: right"></i></button>
                    <div class="panel">
                        <p>We won't approve materials that have been created by your university or another third party. We also do not accept assignments, essays, practical’s or take-home exams. We love notes though.</p>
                    </div>

                </div>

                <div class=" col-md-12 col-sm-12 col-xs-12">
                    <button class="accordion">How long does it take to upload?<i class="fa fa-plus" style="float: right"></i></button>
                    <div class="panel">
                        <p>Uploading notes is quick and easy. It can take as little as 90 seconds per set of notes. Put it this way, in the time it took to read these FAQs, you could’ve uploaded several sets of notes.</p>
                    </div>

                </div>

                <div class="col-md-12 col-sm-12 col-xs-12 text-left heading">
                    <h4>Downloaders</h4>
                </div>
                <div class=" col-md-12 col-sm-12 col-xs-12">
                    <button class="accordion">How do I buy notes?<i class="fa fa-plus" style="float: right"></i></button>
                    <div class="panel">
                        <p>Search for the notes you are after using the 'SEARCH NOTES' tab at the at the top right of every page. You can then filter results by university, category, course information etc. To purchase, go to detail page of note and click on download button. If notes are free to download – it will download over the browser and if notes are paid, Once Seller will allow download you can have notes at my downloads grid for actual download.</p>
                    </div>

                </div>


                <div class=" col-md-12 col-sm-12 col-xs-12">
                    <button class="accordion">Why should I buy notes?<i class="fa fa-plus" style="float: right"></i></button>
                    <div class="panel">
                        <p>The notes on our site are incredibly useful as an educational tool when used correctly. They effectively demonstrate the techniques that top students employ in order to receive top marks. They also summaries the course in a concise format and show what that student believed were the most important elements of the course. Learn from the best.</p>
                    </div>

                </div>

                <div class=" col-md-12 col-sm-12 col-xs-12">
                    <button class="accordion">Will downloading notes guarantee I improve my grades?<i class="fa fa-plus" style="float: right"></i></button>
                    <div class="panel">
                        <p>How long is a piece of string? However, 90% of students who purchased notes through our site said that doing so improved their grades.</p>
                    </div>

                </div>
            </div>



        </div>
    </div>


    <hr>
    <!--Footer-->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p>Copyright &#169; Tatvasoft All rights reserved.</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <ul class="social-list">
                        <li><a href="#"><img src="~/Content/img/home/facebook.png" alt="fb"></a></li>
                        <li><a href="#"><img src="~/Content/img/home/twitter.png"></a></li>
                        <li><a href="#"><img src="~/Content/img/home/linkedin.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>

    <!--JS-->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <script src="~/Content/js/jquery.js"></script>
    <script src="~/Content/js/script.js"></script>

</body>
</html>