@model IEnumerable<Demo.Models.SearchNote>
<html>
<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/Content/img/images/favicon.ico">

    <!--Title-->
    <title> Notes - MarketPlace</title>

    <!--Google Fonts-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!--Fontawesome-->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/css/responsiveindex.css">

</head>

<body>

    <!--Header-->
    <header>
        <nav class="navbar navbar-fixed-top">
            <div class="container">
                <div class="site-nav-wrapper">

                    <div class="navbar-header">

                        <!--Mobile menu Open Button-->
                        <span id="mobile-nav-open-btn">&#9776;</span>

                        <!--Logo-->
                       
                            <a href="@Url.Action("Index","Home")" class="navbar-brand-img">
                            <img src="~/Content/img/logo.png" alt="logo" />
                        </a>
                    </div>

                    <div class="container">
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav pull-right ">
                                <li><a href="@Url.Action("SearchNotes","Home")">Search Notes</a></li>
                                <li><a href="@Url.Action("SellYourNotes","User")">Sell Your Notes</a></li>
                                <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="dropdown">
                                        <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle"></a>
                                        <div class="dropdown-content">
                                            <a href="@Url.Action("Myprofile","User")">My Profile</a>
                                            <a href="@Url.Action("MyDownloads","User")">My Downloads</a>
                                            <a href="@Url.Action("MySoldNotes","User")">My Sold Notes</a>
                                            <a href="@Url.Action("MyRejectedNotes","User")">My Rejected Notes</a>
                                            <a href="@Url.Action("ChangePassword","User")">Change Password</a>
                                            <a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a>
                                        </div>
                                    </li>
                                    <li><a href="@Url.Action("Logout", "User")" class="login" onclick="return confirm('Are you sure, you want to logout?');">Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "Login")" class="login">Login</a></li>
                                }
                            </ul>
                        </div>
                    </div>


                    <!--Mobile Menu-->
                    <div id="mobile-nav">
                        <!--Mobile Menu Close Button-->
                        <span id="mobile-nav-close-btn">&times;</span>
                        <div id="mobile-nav-content">
                            <ul class="nav">
                                <li><a href="@Url.Action("SearchNotes","Home")">Search Notes</a></li>
                                <li><a href="@Url.Action("SellYourNotes","User")">Sell Your Notes</a></li>
                                <li><a href="@Url.Action("FAQ","Home")">FAQ</a></li>
                                <li><a href="@Url.Action("ContactUs","Home")">Contact Us</a></li>
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <li class="dropdown">
                                        <a class="photo"><img src="@Url.Content(Session["UserProfile"].ToString())" class="img-circle"></a>
                                        <div class="dropdown-content">
                                            <a href="@Url.Action("Myprofile","User")">My Profile</a>
                                            <a href="@Url.Action("MyDownloads","User")">My Downloads</a>
                                            <a href="@Url.Action("MySoldNotes","User")">My Sold Notes</a>
                                            <a href="@Url.Action("MyRejectedNotes","User")">My Rejected Notes</a>
                                            <a href="@Url.Action("ChangePassword","User")">Change Password</a>
                                            <a href="@Url.Action("Logout","User")" onclick="return confirm('Are you sure, you want to logout?');">Logout</a>
                                        </div>
                                    </li>
                                    <li><a href="@Url.Action("Logout", "User")" class="login" onclick="return confirm('Are you sure, you want to logout?');">Logout</a></li>
                                }
                                else
                                {
                                    <li><a href="@Url.Action("Index", "Login")" class="login">Login</a></li>
                                }
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
    </header>
    <!--Header ends-->
    <!--Home-->

    <section id="home">
        <div id="home">
            <!-- Background Video -->
            <img src="~/Content/img/Add-notes/Add-notes/banner-with-overlay.jpg" id="home-bg-video" alt="Home">


            <div id="home-content">

                <h3>Search Notes</h3>
               


            </div>
        </div>

    </section>

    <!--Home ends-->

    <div id="searchnote">
        <div class="container">


            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h3>Search and Filter notes</h3>
                    </div>
                </div>
            </div>

            <div class="container">
                <form>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="form-group hello">
                                <input type="text" class="form-control" placeholder="Search" id="searchnotes">
                            </div>
                        </div>

                        <div class="col-md-12">
                            <div class="filters">
                                <div class="col-md-2 col-sm-4 col-xs-12 world ">
                                    <div class="form-group">
                                        @*<select class="form-control" id="type">
                                            <option>Select Type</option>
                                            <option>Free</option>
                                            <option>Paid</option>
                                        </select>*@
                                        @Html.DropDownList("Type", new SelectList(ViewBag.TypeList, "Name", "Name"),"Select Type", new { @class = "form-control filtertype" })

                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12 world">
                                    <div class="form-group">
                                        @*<select class="form-control" id="category">
            <option>Select category</option>
            <option>Science</option>
            <option>IT</option>
            <option>Commerce</option>
            <option>Social</option>
            <option>Lorem</option>
        </select>*@
                                        @Html.DropDownList("Category", new SelectList(ViewBag.CategoryList, "Name", "Name"), "Select Category", new { @class = "form-control filtercategory" })
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12 world">
                                    <div class="form-group">
                                        @*<select class="form-control" id="university">
            <option>Select University</option>
            <option>University of California, USA</option>
            <option>Nirma University</option>
            <option>GTU</option>
        </select>*@
                                        @Html.DropDownList("University", new SelectList(ViewBag.UniversityList, "UniversityName", "UniversityName"), "Select University", new { @class = "form-control filteruniversity" })
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12 world">
                                    <div class="form-group">
                                        @*<select class="form-control" id="course">
            <option>Select course</option>
            <option>Computer</option>
            <option>IT</option>
            <option>Economics</option>
        </select>*@

                                        @Html.DropDownList("Course", new SelectList(ViewBag.UniversityList, "Course", "Course"), "Select Course", new { @class = "form-control filtercourse" })

                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12 world">
                                    <div class="form-group">
                                        @*<select class="form-control" id="country">
            <option>Select Country</option>
            <option>India</option>
            <option>USA</option>
            <option>Canada</option>
        </select>*@

                                        @Html.DropDownList("Country", new SelectList(ViewBag.CountryList, "Name", "Name"), "Select Country", new { @class = "form-control filtercountry" })
                                    </div>
                                </div>

                                <div class="col-md-2 col-sm-4 col-xs-12 hw">
                                    <div class="form-group">
                                        <select class="form-control filterrating" id="selectrating">
                                            <option>Select rating</option>
                                            <option>5</option>
                                            <option>4</option>
                                            <option>3</option>
                                            <option>2</option>
                                            <option>1</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="container">
                @{ int k = 0;}
                @foreach(var item in Model)
                {
                    if(k<1)
                    {
                        <h3>Total @item.totalnotes notes</h3>
                    }
                    ++k;
                }
                @*<h3>Total 18 notes</h3>*@
                <div class="container">
                    <div class="row" id="results-row" data-tr-per-page="9">
                        <div id="notelist">
                        @foreach (var item in Model)
                        {
                            <div class="col-md-4 col-sm-12 col-xs-12 notelisting" onclick="location.href='@Url.Action("NoteDetails", "Home", new { id = item.Note.ID })'">
                                @*<input type="hidden" name="notetype" value=@item.types.Name />
        <input type="hidden" name="notecategory" value=@item.category.Name />
        <input type="hidden" name="noteuniversity" value=@item.Note.UniversityName />
        <input type="hidden" name="notecourse" value=@item.Note.Course />
        <input type="hidden" name="notecountry" value=@item.country.Name />
        <input type="hidden" name="noterating" value="" />*@
                                <p style="display:none;">@item.types.Name</p>
                                <p style="display:none;">@item.category.Name</p>
                                <p style="display:none;">@item.Note.UniversityName</p>
                                <p style="display:none;">@item.Note.Course</p>
                                <p style="display:none;">@item.country.Name</p>
                                <p style="display:none;" class="averagerating">@item.Rating</p>
                                <div class="note-preview">
                                    <img src="@Url.Content(item.Note.DisplayPicture)" class="img-responsive">
                                    <div class="notedetail">
                                        <div class="notetitle">
                                            <h4>@item.Note.Title</h4>
                                        </div>
                                        <ul>
                                            <li><img src="~/Content/img/images/university.png" />@item.Note.UniversityName</li>
                                            <li><img src="~/Content/img/images/pages.png">@item.Note.NumberofPages Pages</li>
                                            @{ DateTime da = DateTime.Parse(item.Note.PublishedDate.ToString());
                                                string date = da.ToString("ddd,MMM dd yyyy");}
                                            <li><img src="~/Content/img/images/calendar.png">@date</li>
                                            <li><img src="~/Content/img/images/flag.png"><span>@item.TotalSpam users marked this note as inappropriate</span></li>
                                        </ul>
                                        @for (int i = 1; i <= item.Rating; i++)
                                        {
                                            <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                        }
                                        @for (int j = 5; j > item.Rating; j--)
                                        {
                                            <img src="~/Content/img/images/star-white.png" style="width: 20px; height: 20px;">
                                        }

                                        <span>@item.Total reviews</span>
                                    </div>
                                </div>

                            </div>
                        }
                        @*<div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="note-preview">
                                <img src="~/Content/img/search/Search/1.jpg" class="img-responsive">
                                <div class="notedetail">
                                    <div class="notetitle">
                                        <h4>Computer Operating System - Final Exam Book With Paper Solution</h4>
                                    </div>
                                    <ul>
                                        <li><img src="~/Content/img/images/university.png">University of California, US</li>
                                        <li><img src="~/Content/img/images/pages.png">204 Pages</li>
                                        <li><img src="~/Content/img/images/calendar.png">Thu,Nov 26 2020
                                        <li><img src="~/Content/img/images/flag.png"><span>5 users marked this note as inappropriate</span></li>
                                    </ul>
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    100 reviews
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="note-preview">
                                <img src="~/Content/img/search/Search/2.jpg" class="img-responsive">
                                <div class="notedetail">
                                    <div class="notetitle">
                                        <h4>Computer Science</h4>
                                    </div>
                                    <ul>
                                        <li><img src="~/Content/img/images/university.png">University of California, US</li>
                                        <li><img src="~/Content/img/images/pages.png">204 Pages</li>
                                        <li><img src="~/Content/img/images/calendar.png">Thu,Nov 26 2020
                                        <li><img src="~/Content/img/images/flag.png"><span>5 users marked this note as inappropriate</span></li>
                                    </ul>
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star-white.png" style="width: 20px; height: 20px;"> 100 reviews
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="note-preview">
                                <img src="~/Content/img/search/Search/3.jpg" class="img-responsive">
                                <div class="notedetail">
                                    <div class="notetitle">
                                        <h4>Basic Computer Engineering Tech India Publication Series</h4>
                                    </div>
                                    <ul>
                                        <li><img src="~/Content/img/images/university.png">University of California, US</li>
                                        <li><img src="~/Content/img/images/pages.png">204 Pages</li>
                                        <li><img src="~/Content/img/images/calendar.png">Thu,Nov 26 2020
                                        <li><img src="~/Content/img/images/flag.png"><span>5 users marked this note as inappropriate</span></li>
                                    </ul>
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star-white.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star-white.png" style="width: 20px; height: 20px;"> 100 reviews
                                </div>
                            </div>
                        </div>



                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="note-preview">
                                <img src="~/Content/img/search/Search/4.jpg" class="img-responsive">
                                <div class="notedetail">
                                    <div class="notetitle">
                                        <h4>Computer Science Illuminated - Seventh Edition</h4>
                                    </div>
                                    <ul>
                                        <li><img src="~/Content/img/images/university.png">University of California, US</li>
                                        <li><img src="~/Content/img/images/pages.png">204 Pages</li>
                                        <li><img src="~/Content/img/images/calendar.png">Thu,Nov 26 2020
                                        <li><img src="~/Content/img/images/flag.png"><span>5 users marked this note as inappropriate</span></li>
                                    </ul>
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;"> 100 reviews
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="note-preview">
                                <img src="~/Content/img/search/Search/5.jpg" class="img-responsive">
                                <div class="notedetail">
                                    <div class="notetitle">
                                        <h4>The Principles of Computer Hardware - Oxford</h4>
                                    </div>
                                    <ul>
                                        <li><img src="~/Content/img/images/university.png">University of California, US</li>
                                        <li><img src="~/Content/img/images/pages.png">204 Pages</li>
                                        <li><img src="~/Content/img/images/calendar.png">Thu,Nov 26 2020
                                        <li><img src="~/Content/img/images/flag.png"><span>5 users marked this note as inappropriate</span></li>
                                    </ul>
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star-white.png" style="width: 20px; height: 20px;"> 100 reviews
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="note-preview">
                                <img src="~/Content/img/search/Search/6.jpg" class="img-responsive">
                                <div class="notedetail">
                                    <div class="notetitle">
                                        <h4>The Computer Book</h4>
                                    </div>
                                    <ul>
                                        <li><img src="~/Content/img/images/university.png">University of California, US</li>
                                        <li><img src="~/Content/img/images/pages.png">204 Pages</li>
                                        <li><img src="~/Content/img/images/calendar.png">Thu,Nov 26 2020
                                        <li><img src="~/Content/img/images/flag.png"><span>5 users marked this note as inappropriate</span></li>
                                    </ul>
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star-white.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star-white.png" style="width: 20px; height: 20px;"> 100 reviews
                                </div>
                            </div>
                        </div>






                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="note-preview">
                                <img src="~/Content/img/search/Search/1.jpg" class="img-responsive">
                                <div class="notedetail">
                                    <div class="notetitle">
                                        <h4>Computer Operating System - Final Exam Book With Paper Solution</h4>
                                    </div>
                                    <ul>
                                        <li><img src="~/Content/img/images/university.png">University of California, US</li>
                                        <li><img src="~/Content/img/images/pages.png">204 Pages</li>
                                        <li><img src="~/Content/img/images/calendar.png">Thu,Nov 26 2020
                                        <li><img src="~/Content/img/images/flag.png"><span>5 users marked this note as inappropriate</span></li>
                                    </ul>
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;"> 100 reviews
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="note-preview">
                                <img src="~/Content/img/search/Search/2.jpg" class="img-responsive">
                                <div class="notedetail">
                                    <div class="notetitle">
                                        <h4>Computer Science</h4>
                                    </div>
                                    <ul>
                                        <li><img src="~/Content/img/images/university.png">University of California, US</li>
                                        <li><img src="~/Content/img/images/pages.png">204 Pages</li>
                                        <li><img src="~/Content/img/images/calendar.png">Thu,Nov 26 2020
                                        <li><img src="~/Content/img/images/flag.png"><span>5 users marked this note as inappropriate</span></li>
                                    </ul>
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star-white.png" style="width: 20px; height: 20px;"> 100 reviews
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="note-preview">
                                <img src="~/Content/img/search/Search/3.jpg" class="img-responsive">
                                <div class="notedetail">
                                    <div class="notetitle">
                                        <h4>Basic Computer Engineering Tech India Publication Series</h4>
                                    </div>
                                    <ul>
                                        <li><img src="~/Content/img/images/university.png">University of California, US</li>
                                        <li><img src="~/Content/img/images/pages.png">204 Pages</li>
                                        <li><img src="~/Content/img/images/calendar.png">Thu,Nov 26 2020
                                        <li><img src="~/Content/img/images/flag.png"><span>5 users marked this note as inappropriate</span></li>
                                    </ul>
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star-white.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star-white.png" style="width: 20px; height: 20px;"> 100 reviews
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4 col-sm-12 col-xs-12">
                            <div class="note-preview">
                                <img src="~/Content/img/search/Search/3.jpg" class="img-responsive">
                                <div class="notedetail">
                                    <div class="notetitle">
                                        <h4>Basic Computer Engineering Tech India Publication Series</h4>
                                    </div>
                                    <ul>
                                        <li><img src="~/Content/img/images/university.png">University of California, US</li>
                                        <li><img src="~/Content/img/images/pages.png">204 Pages</li>
                                        <li><img src="~/Content/img/images/calendar.png">Thu,Nov 26 2020
                                        <li><img src="~/Content/img/images/flag.png"><span>5 users marked this note as inappropriate</span></li>
                                    </ul>
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star-white.png" style="width: 20px; height: 20px;">
                                    <img src="~/Content/img/images/star-white.png" style="width: 20px; height: 20px;"> 100 reviews
                                </div>
                            </div>
                        </div>*@
                        </div>
                    </div>
                </div>

                <div class="container">
                    <span class="pagination-control" pagination-data="#results-row" max-page-shown="20">
                        
                        <nav aria-label="Page navigation example" class="text-center">
                            <ul class="pagination" style="display: flex; justify-content: center">
                                <li class="page-item" start-page="1">
                                    <a class="page-link previous" aria-label="Previous">
                                        <img src="~/Content/img/images/left-arrow.png" class="img-fluid">
                                    </a>
                                </li>
                                <li class="page-item" end-page="1">
                                    <a class="page-link next" aria-label="Next">
                                        <img src="~/Content/img/images/right-arrow.png" class="img-fluid">
                                    </a>
                                </li>
                            </ul>
                        </nav>
                            
                    </span>
                </div>

            </div>

        </div>
    </div>


    <!--Footer-->
    <hr>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <p>Copyright &#169; Tatvasoft All rights reserved.</p>
                </div>
                <div class="col-md-6 col-sm-6 col-xs-6 text-right">
                    <ul class="social-list">
                        <li><a href="#"><img src="~/Content/img/home/facebook.png" alt="fb"></a></li>
                        <li><a href="#"><img src="~/Content/img/home/twitter.png"></a></li>
                        <li><a href="#"><img src="~/Content/img/home/linkedin.png"></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer>
    <!--Footer ends-->
    <!--JS-->
    <!--JQUERY JS-->
    <script src="~/Content/js/jquery.js"></script>

    <!--Bootstrap JS-->
    <script src="~/Content/js/bootstrap.min.js"></script>

    <!--Custom JS-->
    <script src="~/Content/js/script.js"></script>

</body>
</html>