@model Demo.Models.UserRegistration
<html>
<head>

    <!-- Important meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--Favicon-->
    <link rel="shortcut icon" href="~/Content/img/images/favicon.ico">

    <!--Title-->
    <title> Notes - MarketPlace</title>

    <!--Google Fonts-->

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap" rel="stylesheet" />

    <!--Bootstrap CSS-->
    <link rel="stylesheet" href="~/Content/css/bootstrap.min.css">

    <!--Fontawesome-->
    <link rel="stylesheet" href="~/Content/font-awesome/css/font-awesome.css">

    <!--Custom CSS-->
    <link rel="stylesheet" href="~/Content/css/style.css">

    <!--Responsive CSS-->
    <link rel="stylesheet" href="~/Content/css/responsiveindex.css">

</head>
<body>
    <div id="signup">
        <div class="bg-img">
            <img src="~/Content/img/pre-login/banner-with-overlay.jpg" alt="bg-image" />
            <div id="loginform">
                <div class="logo text-center">
                    <img src="~/Content/img/pre-login/top-logo.png" alt="logo">
                </div>
                <form method="post">

                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    <div id="details">
                        <h1 class="text-center">Create an Account</h1>
                        <p class="text-center">Enter your details to signup</p>
                        <div class="text-center" style="color: green;"> @Html.Raw(@ViewBag.Success)</div>
                        <div class="text-center" style="color:red;">@ViewBag.Fail</div>
                        <div id="uppermargin">
                        <p>First name <sup>&#8727;</sup></p>
                        @Html.ValidationMessageFor(model => model.Firstname, null, new { @class = "text-danger" })
                        <div class="form-group">
                            <input type="text" class="form-control" id="fname" placeholder="Enter your first name" name="Firstname" required>

                        </div>

                        <p>Last name <sup>&#8727;</sup></p>
                        @Html.ValidationMessageFor(model => model.LastName, null, new { @class = "text-danger" })
                        <div class="form-group">
                            <input type="text" class="form-control" id="lname" placeholder="Enter your last name" name="LastName" required>

                        </div>

                        <p>Email <sup>&#8727;</sup></p>
                        @Html.ValidationMessageFor(model => model.EmailID, null, new { @class = "text-danger" })
                        <div class="form-group">
                            <input type="text" class="form-control" id="email" placeholder="Enter your email address" name="EmailID" required>

                        </div>

                        <p>Password</p>
                        @Html.ValidationMessageFor(model => model.Password,null, new { @class = "text-danger" })
                        <div class="form-group" id="password">
                            @*<input type="password" class="form-control" id="pwd" placeholder="Enter your password" name="Password">*@
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { @class = "form-control", @type = "password", @id = "pwd", @placeholder = "Enter your password" } })
                            
                            <img class="eye" src="~/Content/img/images/eye.png" onclick="showpassword()">

                        </div>

                        <p>Confirm Password</p>
                        @Html.ValidationMessageFor(model => model.ConfirmPassword, null, new { @class = "text-danger" })
                        <div class="form-group" id="repassword">
                            @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control", @type = "password", @id = "repwd", @placeholder = "Re-enter your password" } })

                            @*<input type="password" class="form-control" id="repwd" placeholder="Re-enter your password" name="ConfirmPassword">*@
                            <img class="eye" src="~/Content/img/images/eye.png" onclick="showconfirmpassword()">
                        </div>

                        <div id="submit-btn">
                            <button class="btn btn-general btn-yellow" title="Submit" type="submit" role="button">sign up</button>
                        </div>
                        <p class="text-center">Already have an account? <a href="@Url.Action("Index","Login")">Login</a></p>
                            </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <script src="~/Content/js/script.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>



